<div class="techocamp-app">
  <md-toolbar color="primary">
    <h1><span>techocamp</span></h1>

    <span class="header-spacer"></span>

    <md-nav-list>
      <a md-button [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a md-button [routerLink]="['/HR Operations']" [routerLinkActive]="['active']">Operations</a>
      <a md-button [routerLink]="['/HR ATM']" [routerLinkActive]="['active']">ATM</a>
      <a md-button [routerLink]="['/HR Finance']" [routerLinkActive]="['active']">Finance</a>
    </md-nav-list>
  </md-toolbar>
  <section class="app-body-wrapper">
    <router-outlet></router-outlet>
  </section>
</div>


