.create-subject-formGroup {
    display:flex;
    margin:10px;
}

.create-subject-formGroup input,
.create-subject-formGroup select {
    flex: 1 1 auto;
}

.create-subject-formGroup label {
    flex: 0 0 43px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

md-select {
    width: 100%;
}



